.givewp-convertkit-field {
    border: 1px solid var(--givewp-primary-color);
    border-radius: 5px;
    padding: var(--givewp-spacing-4) var(--givewp-spacing-6);

    &.invalid {
        border-color: red;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }

    label {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        margin: 0;
        font-weight: normal;

        input[type=checkbox] {
            width: 1.5rem;
            height: 1.5rem;
            flex: 0 0 auto;
            margin: 0;
            border-color: var(--givewp-primary-color);
        }

        .error-message {
            flex: 1 0 100%;
        }
    }
}

